@using DBAccess
@using System.Globalization
@model CustomerModel

@{
    Layout = null;

   
}


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<body>

  
<h2>Welcome @Model.firstName</h2>




@using(Html.BeginForm("CreateReservation", "Home", Model, FormMethod.Post))
{
    <div>

       <p>@ViewBag.message</p>  

        <table>
                
           
         
            <tr>
                <td> @Html.LabelFor(model => model.startTime)</td>
                <td> @Html.EditorFor(model => model.startTime)</td>
            </tr>

            <tr>
                <td> @Html.LabelFor(model => model.endTime)</td>
                <td> @Html.EditorFor(model => model.endTime)</td>
            </tr>
           
            <tr>
                <td>@Html.LabelFor(model => model.reservation.RoomSize)</td>
                <td>@Html.EditorFor(model => model.reservation.RoomSize)</td>
            </tr>
            
             <tr>
                <td>@Html.LabelFor(model => model.reservation.BedNumb)</td>
                <td>@Html.EditorFor(model => model.reservation.BedNumb)</td>
            </tr>

        
        </table>

        <div>
            <input type="submit" value="Add reservation" />
        </div>
    </div>

  
}

</body>


