@using DBAccess
@using System.Globalization
@model CustomerModel

@{
    Layout = null;
}

  

<body>
    
    <p>@ViewBag.message</p>
    <p>@Model.endTime</p>
    <p>@Model.startTime</p>
    <p>@Model.lastName</p>
    <p>@Model.reservation.BedNumb</p>
    <p>@Model.ID</p>
    


</body>


